{% extends 'base.html.twig' %}

{% block title %}{{ 'title.surveys_deleting'|trans({'%id%': survey.id}) }} {{ survey.name }}{% endblock %}

{% block body %}
    <div class="content">

        <h1>{{ 'title.surveys_deleting'|trans({'%id%': survey.id})}} {{ survey.name }}</h1>
        <p>{{ 'survey_delete_warning'|trans }} {{ survey.name }}?</p>
        <br>
        {{ form_start(form, { method: 'post', action: url('surveys_delete', {'id': survey.id}) }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-danger" />
        {{ form_end(form) }}
        <br><br>
        <a class="btn btn-outline-primary" href="{{ url('surveys_view', {'id': survey.id}) }}"
           title="{{ 'label.back_to_survey'|trans }}">
            {{ 'label.back_to_survey'|trans }}
        </a>
    </div>
{% endblock %}