{% extends 'base.html.twig' %}


{% block title %}
    {{ 'label.surveys_index'|trans }}
{% endblock %}

{% block body %}

    <h1>{{ 'label.surveys_index'|trans }}</h1>

    {% if paginator.data|length %}
        <ul>
            {% for row in paginator.data %}
                <li>{{ row.name }}
                    <a href="{{ url('surveys_view', {'id': row.id}) }}" title="{{ 'label.view'|trans }}">
                        {{ 'label.view'|trans }}
                    </a>
                    <br><br>
                    {#<a href="{{ url('tags_edit', {'id': row.id}) }}" title="{{ 'title.tags_edit'|trans({'%id%': row.id}) }}">
                        {{ 'title.tags_edit'|trans({'%id%': row.id}) }}
                    </a>
                    <br>
                    <a href="{{ url('tags_delete',{'id': row.id}) }}" title="{{ 'title.tags_delete'|trans({'%id%': row.id}) }}">
                        {{ 'title.tags_delete'|trans({'%id%': row.id}) }}
                    </a>#}
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <div>
            There are no surveys!
        </div>
    {% endif %}

    {# ... #}
    {% include 'default/_paginator.html.twig' with {
    paginator: paginator,
    route_name: 'surveys_index_paginated',
    } %}
    {# ...
    <a href="{{ url('tags_add') }}" title="{{ 'title.tags_add'|trans }}">
        {{ 'title.tags_add'|trans }}
    </a>#}

{% endblock %}