{% extends 'base.html.twig' %}


{% block title %}
    {{ 'label.surveys_index'|trans }}
{% endblock %}

{% block body %}
    <div class="content">
        <h1>{{ 'label.surveys_index'|trans }}</h1>

        {% if paginator.data|length %}
            <ul>
                {% for row in paginator.data %}
                    <li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ url('surveys_view', {'id': row.id}) }}" title="{{ row.name }}">
                                {{ row.name }}
                            </a>
                        {% else %}
                            <a>
                                {{ row.name }}
                            </a>
                        {% endif %}
                    </li>
                    <br>
                {% endfor %}
            </ul>
        {% else %}
            <div>
                Brak ankiet :(
            </div>
            <br><br>
        {% endif %}
        {# ... #}
        {% include 'default/_paginator.html.twig' with {
        paginator: paginator,
        route_name: 'surveys_index_paginated',
        } %}
        <br><br>
    </div>
{% endblock %}