{% extends 'base.html.twig' %}

{% block title %}
    View survey #{{ survey.id }}
{% endblock %}

{% block body %}
    <h1>Survey #{{ survey.id }}</h1>
    #{{ survey.id }} => {{ survey.name }}

    {#{% if tag|length %}
        <div>
            #{{ tag.id }} => {{ tag.name }}
        </div>
    {% else %}
        <div>
            No tag found!
        </div>
    {% endif %}#}
    <a href="{{ url('surveys_index') }}" title="{{ 'label.back_to_list'|trans }}">{{ 'label.back_to_list'|trans }}</a>
{% endblock %}