{% extends 'base.html.twig' %}

{% block title %}{{ 'title.question_add'|trans }}{% endblock %}

{% block body %}
    <div class="content">
        <h1>{{ 'title.question_add'|trans }}</h1>
        {{ form_start(form, { method: 'post', action: url('questions_add', { 'id': survey.id }) }) }}
        {{ form_widget(form) }}
        <br>
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
        {{ form_end(form) }}
        <br><br>
        <a class="btn btn-outline-primary" href="{{ url('surveys_view', {'id': survey.id}) }}"
           title="{{ 'label.back_to_survey'|trans }}">
            {{ 'label.back_to_survey'|trans }}
        </a>
    </div>
{% endblock %}