{% extends 'base.html.twig' %}

{% block title %}
    Bookmarks
{% endblock %}

{% block body %}
    <h1>
        {{ 'title.bookmarks_list'|trans }}
    </h1>
    {% if bookmarks is defined and bookmarks|length %}
        <ul>
            {% for bookmark in bookmarks %}
                <li>
                    {#<a href="{{ url('bookmark_view', {'bookmarkId': bookmark.id}) }}">
                    {{ bookmark.title }}</a>, {{ bookmark.url }}#}
                    <a href="{{ url('bookmark_view', {'bookmarkId': bookmark.id}) }}"
                       title="{{ bookmark.title }}">
                        {{ bookmark.title }}, {{ bookmark.id }}, {{ bookmark.url }}
                    </a>
                    {% for tag in bookmark.tags %}
                        {{ tag }}
                    {% endfor %}
                {#{{ bookmark.tags.1 }}#}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div>
            List is empty!
        </div>
    {% endif %}
{% endblock %}