{% extends 'base.html.twig' %}


{% block title %}
    {{ 'label.users_index'|trans }}
{% endblock %}

{% block body %}
    <div class="content">
        <h1>{{ 'label.users_index'|trans }}</h1>
        <ul>
            {% for row in users %}
                <li>
                    <a href="{{ url('user_account', {'id': row.id}) }}" title="{{ row.login }}">
                        {{ row.login }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}