{% extends 'base.html.twig' %}


{% block title %}
    {{ 'label.user_profile'|trans }} {{ user.login }}
{% endblock %}

{% block body %}
    <div class="content">
        {% if userId is same as(user.id) or is_granted('ROLE_ADMIN') %}
            <a class="btn btn-danger btn-sm" href="{{ url('users_delete', {'id': user.id}) }}"
               title="{{ 'title.users_delete'|trans }}">{{ 'title.users_delete'|trans }}</a>
            <br><br>
        {% endif %}
        <h1>{{ 'label.user_profile'|trans }} {{ user.login }}</h1>
        <p><b>{{ 'label.user_name'|trans }}:</b> {{ user.name }}</p>
        <p><b>{{ 'label.user_gender'|trans }}:</b> {{ user.gender }}</p>
        <p><b>{{ 'label.user_age'|trans }}:</b> {{ user.age }}</p>
        <p><b>{{ 'label.user_email'|trans }}:</b> {{ user.email }}</p>
        <p><b>{{ 'label.user_description'|trans }}:</b> {{ user.description }}</p>
        <br>
        {% if userId is same as(user.id) or is_granted('ROLE_ADMIN') %}
            <a class="btn btn-secondary" href="{{ url('user_passwd_edit', {'id': user.id}) }}"
               title="{{ 'label.user_passwd_edit'|trans }}">{{ 'label.user_passwd_edit'|trans }}</a>
            <a class="btn btn-secondary" href="{{ url('user_edit', {'id': user.id}) }}"
               title="{{ 'label.user_edit'|trans }}">{{ 'label.user_edit'|trans }}</a>
        {% endif %}
        <br><br><br>
        <a class="btn btn-outline-dark" href="{{ url('surveys_index') }}"
           title="{{ 'label.back_to_mainpage'|trans }}">{{ 'label.back_to_mainpage'|trans }}</a>
    </div>
{% endblock %}